BODY { color:#000; background-color:#9cf }
A:link { color:#C06 }
A:visited { color:#903 }
A:active { color:#f36 }
HR { color:#666 }
H1 { text-align:center; font-size:x-large }
.b { font-family:Arial, helvetica, sans-serif; font-weight:bold }
.g { color:#060 }
.l { font-family:"Comic Sans MS", "Comic Sans", serif;
     color:#060; font-size: x-large }
.z { text-align:center; font-size:smaller }
